@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a[href^="#bb-"] {
  background: #3b82f6;
  color: white;
  padding: 1px 3px 2px;
  text-decoration: none;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
}
